.foot-section{
    background-color: #F8F8F9;
    padding-top: 60px;
    padding-bottom: 30px;
}
.footerlogo{
    width: 80px;
    padding-bottom: 20px;
}
.footerparass{
    color: rgb(109, 107, 107);
    font-size: 17px;
}
.footericon{
    display: flex;
    column-gap: 15px;
    padding-bottom: 20px;
}
.footernews{
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 22px;
}
.subscribe-box button{
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  width: 100px;
}
.subscribe-box button:hover{
    background-color: lightsalmon;
}
.subscribe-box input{
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  width: 160px;
}
.subscribe-box{
    display: flex;
}
.footerparass2{
    font-size: 17px;
    color: rgb(109, 107, 107);
    padding-bottom: 10px;
}
.footerfind{
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}
.footersign{
    display: flex;
    column-gap: 10px;
    padding-top: 10px;
}
.footersign p{
    color:rgb(109, 107, 107) ;
}
.footernews-div{
    padding-bottom: 20px;
}
@media(min-width:768px){
.footernews-div{
    padding-left: 50px;
}  
}

@media(min-width:991px){
.footernews-div{
    padding-left:20px ;
}  
.foot-section{
    padding-left: 180px;
    padding-right: 80px;
}  
}