.popular-sec{
    text-align: center;
    padding-top: 50px;
}
.popular-sec h2{
    font-weight: bold;
    font-size: 30px;
}
.popular-sec h5{
    color: rgb(81, 81, 81);
    padding-top: 10px;
    padding-bottom: 10px;
}
.popular-div1{
    background-color: #FAFAFA;
    padding: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.popular-div1:hover{
     transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(183, 25, 25, 0.3);
}
.popular-div1 h3{
    font-weight: bold;
    font-size: 20px;
}
.popular-div1 p{
    color: rgb(81, 81, 81);
}
.popular-div1 h4{
    color: orangered;
    padding-bottom: 10px;
    font-size: 18px;
}
.popular-div1 nav {
    border: 1px solid orangered;
    padding: 10px;
    width: 150px;
    margin-left: 70px;
    margin-bottom: 20px;
}
.popular-div1 nav a{
    font-size: 18px;
}
.popular-div1 nav:hover{
    background-color:orangered;
}


@media(min-width:768px){
.popular-div1 img{
    width: 200px;
}   
.popular-div1 p{
    padding-left: 30px;
    padding-right: 30px;
} 
.popular-div1 nav{
    margin-left: 100px;
}
.popular-div1{
    border: 7px solid white;
}
}
@media(min-width:991px){
.popular-div1 nav{
    margin-left: 105px;
}   
.popular-sec h2{
    font-size: 40px;
} 
.popular-div1{
 padding: 5px;
}
.popular-sec{
    padding-left: 200px;
    padding-right: 200px;
 
}
}